# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.VSCode
.DS_Store
Thumbs.db
.env
.idea
yarn-error.log
npm-debug.log
compilation-stats.json